 .box-content a:hover {
     color: #000
 }

 :focus {
     outline: 0 !important
 }

 .reset {
     clear: both
 }

 a {
     text-decoration: none !important;
     color: #7d7c7c
 }

 a:hover {
     text-decoration: none !important;
     color: #000
 }

 ::-moz-placeholder,
 :-ms-input-placeholder,
 :-moz-placeholder ::-webkit-input-placeholder {
     color: #333
 }

 .bookbg ::-moz-placeholder,
 .bookbg :-ms-input-placeholder,
 .bookbg :-moz-placeholder,
 .bookbg ::-webkit-input-placeholder {
     color: #fff !important
 }

 #scrl::-webkit-scrollbar {
     width: 2px;
     background-color: #000
 }

 #scrl::-webkit-scrollbar-thumb {
     background-color: #ccc;
     border-radius: 10px
 }

 ul {
     padding: 0;
     margin: 0
 }

 .p0 {
     padding: 0 !important
 }

 .p3 {
     padding: 3px !important
 }

 .p4 {
     padding: 4px;
     padding-top: 0
 }

 .m0 {
     margin: 0 !important
 }

 .fl {
     float: left
 }

 .fr {
     float: right
 }

 b {
     padding: 10px 0
 }

 li {
     list-style: none;
     text-decoration: none
 }

 p {
     font-style: normal;
     font-display: swap;
     height: auto;
     font-size: 1em;
     color: #212121;
     line-height: 1.8;
     font-family: 'Montserrat';
     font-weight: normal;
 }

 li {
     font-size: 16px;
     font-weight: 400
 }

 .more:after {
     content: "\f0da";
     transition: all .25s;
     opacity: 0;
     margin-left: -.5em;
     font-family: FontAwesome
 }

 .more:hover:after {
     opacity: 1;
     margin-left: .4em
 }

 .pl0 {
     padding-left: 0
 }

 .mt10 {
     margin-top: 10px
 }

 .mt20 {
     margin-top: 20px;
     margin-right: 10px
 }

 .mt30 {
     margin-top: 30px
 }

 .mt40 {
     margin-top: 40px
 }

 .mt50 {
     margin-top: 50px
 }

 .mb10 {
     margin-bottom: 10px
 }

 .mb20 {
     margin-bottom: 20px
 }

 .mb30 {
     margin-bottom: 30px
 }

 .mb40 {
     margin-bottom: 40px
 }

 .mb50 {
     margin-bottom: 50px
 }

 .p50 {
     padding: 50px !important
 }

 .pb35 {
     padding-bottom: 35px
 }

 .mtb15 {
     margin: 15px 0 15px 0
 }

 .p2 {
     padding: 2px
 }

 .p5 {
     padding: 5px
 }

 .animated {
     -webkit-animation-duration: 2s;
     animation-duration: 2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both
 }

 @-webkit-keyframes fadeIn {
     0% {
         opacity: 0
     }

     to {
         opacity: 1
     }
 }

 @keyframes fadeIn {
     0% {
         opacity: 0
     }

     to {
         opacity: 1
     }
 }

 .fadeIn {
     -webkit-animation-name: fadeIn;
     animation-name: fadeIn
 }

 @-webkit-keyframes fadeInDown {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(0, -100%, 0);
         transform: translate3d(0, -100%, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 @keyframes fadeInDown {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(0, -100%, 0);
         transform: translate3d(0, -100%, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 .fadeInDown {
     -webkit-animation-name: fadeInDown;
     animation-name: fadeInDown
 }

 @-webkit-keyframes fadeInLeft {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 @keyframes fadeInLeft {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 .fadeInLeft {
     -webkit-animation-name: fadeInLeft;
     animation-name: fadeInLeft
 }

 @keyframes fadeInRight {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 .fadeInRight {
     -webkit-animation-name: fadeInRight;
     animation-name: fadeInRight
 }

 .fadeInRightBig {
     -webkit-animation-name: fadeInRightBig;
     animation-name: fadeInRightBig
 }

 @-webkit-keyframes fadeInUp {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 @keyframes fadeInUp {
     0% {
         opacity: 0;
         -webkit-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0)
     }

     to {
         opacity: 1;
         -webkit-transform: none;
         transform: none
     }
 }

 .fadeInUp {
     -webkit-animation-name: fadeInUp;
     animation-name: fadeInUp
 }

 .header {
     width: 100%;
     float: left;
     z-index: 99;
     position: relative;
     height: 0;
     -webkit-transition: height .5s;
     -moz-transition: height .5s;
     transition: all .4s ease-in-out
 }

 .cbp-af-header.cbp-af-header-shrink {
     height: 65px;
     top: 0
 }

 .cbp-af-header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
     transition: all .4s ease-in-out
 }

 .cbp-af-header.cbp-af-header-shrink .header {
     background: #333332;
     height: 58px
 }

 .cbp-af-header.cbp-af-header-shrink .nav-menu>li>a {
     color: #fff !important;
     height: 58px;
     font-size: 1.125em;
     padding: 0px 13px 0px 10px;
     line-height: 58px;
 }

 .cbp-af-header.cbp-af-header-shrink .menubars {
     background: 0 0;
     padding: 0;
     height: 58px;
     transition: all .4s ease-in-out
 }

 .cbp-af-header.cbp-af-header-shrink .submenu-indicator-chevron {
     border-color: #fff #fff #fff transparent;
     margin-top: 18px;
 }

 .cbp-af-header.cbp-af-header-shrink .top__contact {
     display: none
 }

 .menubars {
     border-radius: 3px;
     padding-right: 0;
     padding-left: 0
 }

 .logo {
     display: inline-block;
     float: left;
     transition: all .4s ease-in-out;
     background-repeat: no-repeat;
     position: absolute;
     top: 0px;
 }

 .cbp-af-header.cbp-af-header-shrink .logo {
     background-repeat: no-repeat;
     margin: 0;
     transition: all .4s ease-in-out
 }

 .navbar-fixed {
     position: fixed;
     z-index: 999 !important
 }

 nav {
     width: 100%
 }

 .navigation {
     width: 100%;
     display: table;
     position: relative;
     font-family: inherit
 }

 .navigation * {
     box-sizing: border-box;
     -webkit-tap-highlight-color: transparent
 }

 .navigation-portrait {
     height: 48px
 }

 .navigation-fixed-wrapper {
     width: 100%;
     left: 0;
     z-index: 19998;
     will-change: opacity
 }

 .navigation-fixed-wrapper.fixed {
     position: fixed !important;
     -webkit-animation: fade .5s;
     animation: fade .5s
 }

 @keyframes fade {
     from {
         opacity: .999
     }

     to {
         opacity: 1
     }
 }

 .navigation-fixed-wrapper .navigation {
     margin-right: auto;
     margin-left: auto
 }

 .navigation-fixed-placeholder {
     width: 100%;
     display: none
 }

 .navigation-fixed-placeholder.navigation-fixed-placeholder.visible {
     display: block
 }

 .nav-toggle,
 .navigation-hidden .nav-header {
     display: none
 }

 .navigation-hidden {
     width: 0 !important;
     height: 0 !important;
     margin: 0 !important;
     padding: 0 !important;
     position: absolute;
     top: -9999px
 }

 .nav-header {
     float: left
 }

 .nav-brand:focus,
 .nav-brand:hover {
     color: #70798b
 }

 .navigation-portrait .nav-brand {
     font-size: 18px;
     line-height: 48px
 }

 .nav-logo>img {
     height: 48px;
     margin: 11px auto;
     padding: 0 15px;
     float: left
 }

 .nav-logo:focus>img {
     outline: initial
 }

 .sexy-menu.detached {
     z-index: 999;
     position: fixed;
     background: #fff;
 }

 .navigation-portrait .nav-logo>img {
     height: 36px;
     margin: 6px auto 6px 15px;
     padding: 0
 }

 .navigation-portrait .nav-toggle {
     display: block
 }

 .navigation-portrait .nav-menus-wrapper {
     width: 320px;
     height: 100%;
     top: 0;
     left: -400px;
     position: fixed;
     background-color: #229d66;
     z-index: 20000;
     -webkit-overflow-scrolling: touch;
     -webkit-transition-duration: .8s;
     transition-duration: .8s;
     -webkit-transition-timing-function: ease;
     transition-timing-function: ease;
     padding-bottom: 100px;
 }

 .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
     left: auto;
     right: -400px
 }

 .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
     left: 0
 }

 .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
     left: auto;
     right: 0
 }

 .nav-menus-wrapper-close-button {
     width: 30px;
     height: 40px;
     margin: 10px 7px;
     display: none;
     float: right;
     color: #fff;
     font-size: 26px;
     cursor: pointer
 }

 .navigation-portrait .nav-menus-wrapper-close-button {
     display: block
 }

 .nav-menu {
     margin: 0;
     padding: 0;
     line-height: normal;
     font-size: 0;
     float: right;
 }

 .navigation-portrait .nav-menu {
     width: 100%;
     height: 390px;
     overflow-y: scroll;
     overflow-x: hidden;
 }

 .nav-menu.nav-menu-centered {
     text-align: center
 }

 .nav-menu.nav-menu-centered>li {
     float: none
 }

 .nav-menu>li {
     display: inline-block;
     float: left;
     text-align: right;
 }

 .navigation-portrait .nav-menu>li {
     width: 90%;
     position: relative;
     border-top: solid 1px #ffffff29
 }

 .navigation-portrait .nav-menu>li:last-child {
     border-bottom: none;
 }

 .nav-menu+.nav-menu>li:first-child {
     border-top: none
 }

 body.gallery .nav-menu>li a.gallery,
 body.contact .nav-menu>li a.contact,
 body.home .nav-menu>li a.home,
 body.about .nav-menu>li a.about,
 body.rooms .nav-menu>li a.rooms,
 body.facilities .nav-menu>li a.facilities {
     color: #03f648
 }

 .navigation-portrait .nav-menu>li>a,
 .navigation-portrait li.header-phone a {
     width: 100%;
     height: auto;
     border: 0 !important;
     margin: 12px 15px 12px 26px !important;
     transition: all .4s ease-in-out
 }

 .nav_active {
     color: #ffffff !important
 }

 li.active>a {
     color: #fff;
     background: #941473
 }

 .nav-menu>li>a>[class*=ion-],
 .nav-menu>li>a>i {
     width: 18px;
     height: 16px;
     line-height: 16px;
     -webkit-transform: scale(1.4);
     -ms-transform: scale(1.4);
     transform: scale(1.4)
 }

 .nav-menu>li>a>[class*=ion-] {
     width: 16px;
     display: inline-block;
     -webkit-transform: scale(1.8);
     -ms-transform: scale(1.8);
     transform: scale(1.8)
 }

 .navigation-portrait .nav-menu.nav-menu-social {
     width: 100%;
     text-align: center
 }

 .nav-menu.nav-menu-social>li {
     text-align: center;
     float: none;
     border: none !important
 }

 .navigation-portrait .nav-menu.nav-menu-social>li {
     width: auto
 }

 .nav-menu.nav-menu-social>li>a>.fa {
     font-size: 14px
 }

 .navigation-portrait .nav-menu.nav-menu-social>li>a {
     padding: 15px
 }

 .submenu-indicator {
     margin-left: 6px;
     margin-top: 9px;
     float: right;
     -webkit-transition: all .3s;
     transition: all .3s
 }

 .navigation-portrait .submenu-indicator {
     width: 54px;
     height: 44px;
     margin-top: 0;
     position: absolute;
     top: 0;
     right: 0;
     text-align: center;
     z-index: 20000
 }

 .nav-menu2>li>a:hover {
     color: #b09a60 !important
 }

 .nav-menu2 .submenu-indicator-chevron {
     border-color: transparent #fff #fff transparent;
 }

 .nav-dropdown .submenu-indicator-chevron {
     border-color: transparent #fff #fff transparent;
 }

 .submenu-indicator-chevron {
     border-color: transparent #333 #333 transparent;
     height: 6px;
     width: 6px;
     display: block;
     border-style: solid;
     border-width: 0 1px 1px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
     -webkit-transition: border .3s;
     transition: border .3s
 }

 .navigation-portrait .submenu-indicator-chevron {
     position: absolute;
     top: 18px;
     left: 24px
 }

 .nav-menu>.active>a .submenu-indicator-chevron,
 .nav-menu>.focus>a .submenu-indicator-chevron,
 .nav-menu>li:hover>a .submenu-indicator-chevron {
     border-color: #ffffff #ffffff #ffffff #ffffff
 }

 .navigation-portrait .submenu-indicator.submenu-indicator-up {
     -webkit-transform: rotate(-180deg);
     -ms-transform: rotate(-180deg);
     transform: rotate(-180deg)
 }

 .nav-overlay-panel {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: fixed;
     display: none;
     z-index: 19999
 }

 .no-scroll {
     touch-action: none;
     overflow-x: hidden
 }

 .nav-search {
     height: 70px;
     float: right;
     z-index: 19998
 }

 .navigation-portrait .nav-search {
     height: 48px;
     padding: 0 10px;
     margin-right: 52px
 }

 .navigation-hidden .nav-search {
     display: none
 }

 .nav-search-button {
     width: 70px;
     height: 70px;
     line-height: 70px;
     text-align: center;
     cursor: pointer;
     background-color: #373435
 }

 .navigation-portrait .nav-search-button {
     width: 50px;
     height: 48px;
     line-height: 46px;
     font-size: 22px
 }

 .nav-search-icon {
     width: 14px;
     height: 14px;
     margin: 2px 8px 8px 4px;
     display: inline-block;
     vertical-align: middle;
     position: relative;
     color: #fff;
     text-align: left;
     text-indent: -9999px;
     border: 2px solid;
     border-radius: 50%;
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
     -webkit-transition: color .3s;
     transition: color .3s
 }

 .nav-search-icon:after,
 .nav-search-icon:before {
     content: '';
     pointer-events: none
 }

 .nav-search-icon:before {
     width: 2px;
     height: 11px;
     top: 11px;
     position: absolute;
     left: 50%;
     border-radius: 0 0 1px 1px;
     box-shadow: inset 0 0 0 32px;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%)
 }

 .nav-search-button:hover .nav-search-icon {
     color: #8cc152
 }

 .nav-search>form {
     width: 100%;
     height: 100%;
     padding: 0 auto;
     display: none;
     position: absolute;
     left: 0;
     top: 0;
     background-color: #fff;
     z-index: 99
 }

 .nav-search-inner {
     width: 70%;
     height: 70px;
     margin: auto;
     display: table
 }

 .navigation-portrait .nav-search-inner {
     height: 48px
 }

 .nav-search-inner input[type=search],
 .nav-search-inner input[type=text] {
     height: 70px;
     width: 100%;
     margin: 0;
     padding: 0 12px;
     font-size: 26px;
     text-align: center;
     color: #70798b;
     outline: 0;
     line-height: 70px;
     border: none;
     background-color: transparent;
     -webkit-transition: all .3s;
     transition: all .3s
 }

 .navigation-portrait .nav-search-inner input[type=search],
 .navigation-portrait .nav-search-inner input[type=text] {
     height: 48px;
     font-size: 18px;
     line-height: 48px
 }

 .nav-search-close-button {
     width: 28px;
     height: 28px;
     display: block;
     position: absolute;
     right: 20px;
     top: 20px;
     line-height: normal;
     color: #70798b;
     font-size: 20px;
     cursor: pointer;
     text-align: center
 }

 .nav-button,
 .nav-text {
     display: inline-block;
     font-size: 14px
 }

 .navigation-portrait .nav-search-close-button {
     top: 10px;
     right: 14px
 }

 .nav-button {
     margin: 18px 15px 0;
     padding: 8px 14px;
     color: #fff;
     text-align: center;
     border-radius: 4px;
     background-color: #8cc152;
     -webkit-transition: opacity .3s;
     transition: opacity .3s
 }

 .nav-button:focus,
 .nav-button:hover {
     color: #fff;
     text-decoration: none;
     opacity: .85
 }

 .navigation-portrait .nav-button {
     width: calc(100% - 52px);
     margin: 17px 26px
 }

 .nav-text {
     margin: 25px 15px;
     color: #70798b
 }

 .navigation-portrait .nav-text {
     width: calc(100% - 52px);
     margin: 12px 26px 0
 }

 .navigation-portrait .nav-text+ul {
     margin-top: 15px
 }

 .nav-dropdown {
     min-width: 180px;
     margin: 0;
     padding: 0;
     display: none;
     position: absolute;
     z-index: 98;
     white-space: nowrap
 }

 .navigation-portrait .nav-dropdown {
     width: 100%;
     position: static;
     left: 0
 }

 .nav-dropdown .nav-dropdown {
     right: 100%
 }

 .nav-menu>li>.nav-dropdown,
 .nav-menu2>li>.nav-dropdown {
     border-top: solid 1px #333332
 }

 .nav-dropdown>li {
     width: 100%;
     float: left;
     clear: both;
     position: relative;
     text-align: left;
     background: #252525
 }

 .nav-dropdown>li>a {
     width: 100%;
     padding: 14px 30px;
     display: inline-block;
     float: left;
     color: #fff;
     font-family: 'Philosopher';
     font-weight: bold;
     font-style: normal;
     background: #333332;
     -webkit-transition: color .3s, background .3s;
     transition: color .3s, background .3s;
     border-bottom: 1px solid #666;
     font-size: 0.85em;
     text-transform: capitalize;
 }

 .nav-dropdown>li a:before {
     position: absolute;
     left: 10px;
     top: 24px;
     width: 0;
     height: 2px;
     z-index: 0;
     content: " ";
     background-color: #333332;
     transition: all .4s ease-in-out;
     -webkit-transition: all .4s ease-in-out
 }

 .nav-dropdown>li a:hover:before {
     width: 15px;
     transition: all .4s ease-in-out;
     -webkit-transition: all .4s ease-in-out
 }

 .nav-dropdown>li:hover {
     transition: all .4s ease-in-out;
     -webkit-transition: all .4s ease-in-out
 }

 .nav-dropdown>li a {
     -webkit-transition: all .4s ease-in-out
 }

 .nav-dropdown>li a:hover {
     -webkit-transition: all .4s ease-in-out;
     padding-left: 30px
 }

 .nav-menu>li:hover {
     transition: all .4s ease-in-out
 }

 .nav-dropdown.nav-dropdown-left {
     right: 0
 }

 .nav-dropdown>li>.nav-dropdown-left {
     left: auto;
     right: 100%
 }

 .navigation-landscape .nav-dropdown.nav-dropdown-left>li>a {
     text-align: right
 }

 .navigation-portrait .nav-dropdown>li>a {
     padding: 12px 20px 12px 30px
 }

 .navigation-portrait .nav-dropdown>li>ul>li>a {
     padding-left: 50px
 }

 .navigation-portrait .nav-dropdown>li>ul>li>ul>li>a {
     padding-left: 70px
 }

 .navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a {
     padding-left: 90px
 }

 .navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a {
     padding-left: 110px
 }

 .nav-dropdown .submenu-indicator {
     left: 10px;
     top: 14px;
     position: absolute
 }

 .navigation-portrait .nav-dropdown .submenu-indicator {
     right: 0;
     top: 0
 }

 .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
     -webkit-transform: rotate(130deg);
     -ms-transform: rotate(130deg);
     transform: rotate(130deg)
 }

 .navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg)
 }

 .nav-dropdown>.focus>a .submenu-indicator-chevron,
 .nav-dropdown>li:hover>a .submenu-indicator-chevron {
     border-color: transparent #ffffff #ffffff transparent
 }

 .navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
     left: 10px
 }

 .navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
     -webkit-transform: rotate(135deg);
     -ms-transform: rotate(135deg);
     transform: rotate(135deg)
 }

 .nav-dropdown-horizontal {
     width: 100%;
     left: 0;
     background-color: #fdfdfd;
     border-top: solid 1px #f0f0f0
 }

 .nav-dropdown-horizontal .nav-dropdown-horizontal {
     width: 100%;
     top: 100%;
     left: 0
 }

 .navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
     border-top: none
 }

 .nav-dropdown-horizontal>li {
     width: auto;
     clear: none;
     position: static
 }

 #kenburns_061,
 .nav-dropdown-horizontal>li>a {
     position: relative
 }

 .navigation-portrait .nav-dropdown-horizontal>li {
     width: 100%
 }

 .nav-dropdown-horizontal .submenu-indicator {
     height: 18px;
     top: 11px;
     -webkit-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg)
 }

 .navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
     height: 42px;
     top: 0;
     -webkit-transform: rotate(0);
     -ms-transform: rotate(0);
     transform: rotate(0)
 }

 .navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
     -webkit-transform: rotate(-180deg);
     -ms-transform: rotate(-180deg);
     transform: rotate(-180deg)
 }

 ul.social-icons {
     float: left
 }

 .social-icons li {
     vertical-align: top;
     display: inline;
     height: 100px;
     padding: 4px 4px
 }

 .social-icons a {
     color: #fff
 }

 .top__contact__right {
     float: right
 }

 .top__contact__left {
     float: left
 }

 .top__contact__right span {
     padding-left: 15px
 }

 .top__contact__right a {
     color: #fff;
     font-size: 13px;
     margin-right: 5px;
     border-right: 1px solid #818181;
     padding-right: 15px;
     font-family: 'Open Sans', sans-serif
 }

 .top__contact__right a:nth-last-child {
     border: 0
 }

 @media (max-width:768px) {
     .menubars {
         background: 0 0
     }

     .nav-menu>li {
         text-align: left
     }
 }